@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
#schedule h4 {
  line-height: 1.4;
  margin-top:30px;
}
#schedule h3 {
  margin-top:40px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
}

footer {
  margin-top: 150px;
  margin-bottom: 150px;
}

.curator { width: 46%; float:left; margin:0px 2%;}
#about .curator img.left { margin-right: 6px; margin-bottom: 6px;}

.curator .headline { font-size: 24px; margin-left: 120px;}
.curator .social { font-size: 16px; line-height: 21px; height: 21px; margin: 4px 0px 8px 120px;}
.curator .social a { text-decoration: none}
.curator p { margin-left: 120px; }
.curator { margin-bottom: 30px; margin-top: 20px;}
.left {
float: left;
}

h1 { margin-bottom: 1.5em;}

#header { height: 230px;}
#logo { position: absolute; left:0px; right: 0px; top:0px; text-align: center; z-index:9; height: 230px; line-height: 230px;  }


.navbar { border-radius: 0px; font-family: 'Electrolize', sans-serif;}


#extra { position: absolute; top: 0px; left: 0px; right: 0px; height: 25px; color: #b3371a; z-index: 12; font-family: 'Electrolize', sans-serif; padding-top: 12px; font-size: 14px; text-align: right;}

#extra a, #extra a:link, #extra a:visited { color: #b3371a; margin-left: 12px; font-size: 20px;}
.navbar i.fa { margin-right: 3px;}


.focus-well { background: #f3df49;}

#directory { text-align: center;}
#directory i.boom { font-size: 48px; }
#directory h2 { text-align: center; font-weight: bold;}
#directory p { text-align: left;}











/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (max-width: 768px) {
  #logo img {
      height: 100px;
  }
  .stars, .twinkling, .clouds, #logo, #header { height: 150px; line-height:150px;}

  .navbar-collapse { max-height: 420px;}

}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0px;
  }
}




/*.well { background: #f3df49;}*/

@media (min-width: 768px) {
  .navbar-nav>li {
    float: none;
  }

  .navbar-nav { text-align: center; float: none; margin: 4px auto 0px;}
  .nav>li {
    display:inline-block;
  }
}

.nav>li>a {padding: 10px;}



.well.hover .boom { color: #b5371a;}

.busschedule {  margin: 1em auto;}
.busschedule td { width: 250px; text-align: center;font-weight: bold; font-size: 200%;}
.sponsors { margin-top: 1.5em; }

.speaker, .sponsor {padding-bottom: 32px; margin-bottom: 32px; border-bottom: 1px solid #246f84;}
.speaker .bio, .speaker .talk, .speaker .name { margin-left: 134px;}

/*.sponsor .name, .sponsor .description { margin-left: 220px;}*/
.speaker .pic { float: left;}
.speaker .pic img {
  -webkit-box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 0.54);
-moz-box-shadow:    4px 4px 25px 0px rgba(50, 50, 50, 0.54);
box-shadow:         4px 4px 25px 0px rgba(50, 50, 50, 0.54);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.speaker .bio, .speaker .talk, .sponsor .description { font-size: 13px; line-height: 1.6;}
.speaker .bio .title, .speaker .talk .title, .sponsor .component { font-weight: bold; margin-top: 6px; font-size: 16px;}

.speaker .name, .sponsor .name  { font-size: 24px; font-weight: bold; line-height:36px; vertical-align: middle; margin-bottom: 12px;}
.speaker .name a.twitter { font-size: 16px; background: url(/img/bird.png) center left no-repeat; text-decoration: none; padding-left: 30px; margin-left: 30px; font-weight: normal; vertical-align: middle; margin-top:-4px;}

.sponsor-block { vertical-align: middle;}
.sponsor-block {
    height: 200px;
    width: 200px;
    margin: 12px 25px;
    display: block;
    line-height: 200px;
    float: left;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.speaker h3 { margin-top: 0px;}

.nav>li {
 padding-left: 1em;
}

.socialmedia {

    font-size: 125%;
}


#trackb .speaker .name, #trackb .speaker .talk, #trackb .speaker .bio{ margin-left: 0px;}