---
layout: default
title: "The best conference for JS and the Web. Period"
id: index
---
<!--
<div class='container' >
<div class='row' id='directory'>

<div class='col-sm-6' >
<div class='well'>

<a href="/getting-here.html">
<i class='fa fa-users boom'></i>
<h2>Bus Schedule</h2></a>
</div></div>


<div class='col-sm-6' >
<div class='well'>
<a href="/schedule.html#brunch">
<i class='fa fa-users boom'></i>
<h2>Booster Brunch</h2>
</a>

</div>
</div>
</div>
</div>
 -->
<div class='container' style='display: none'>
<div class='row' >
<div class='col-sm-4' >
<div class='well'>
<i class='fa fa-users boom'></i>
<h2><a href="/tickets.html">Attending?</a></h2>
<p>The very first batch of tickets will go on sale Monday December 16<sup>th</sup>. While there will be more tickets available than ever, they will sell out fast. Make sure you know the details and have made the necessary arrangements!</p>
<p><a href="/tickets.html">How do I attend {{site.name}}? <i class='fa fa-arrow-circle-right'></i></a></p>
</div></div>
<div class='col-sm-4 '>
<div class='well'>
<i class='fa fa-rocket boom'></i>
<h2><a href="/speakers.html">Speaking?</a></h2>
<p>Our call for speakers will remain open until Friday, January 10<sup>th</sup>, 2014 at 12:00PM EST. We strive every year to push the boundaries of what is possible with JS by spotlighting the future of the language and those making that future a reality.</p>
<p><a href="/speakers.html">Enlist now to help us change the world! <i class='fa fa-arrow-circle-right'></i></a></p>
</div>
</div>
<div class='col-sm-4'>
<div class='well'>
<i class='fa fa-star boom'></i>
<h2><a href="/sponsors.html">Sponsoring?</a></h2>
<p>We do things a little different. There are no booths, no exhibit halls, and we encourage you to send your best technical talent. We focus on creating amazing shared experiences, which have far broader and longer lasting effects.</p>
<p><a href="/sponsors.html">Enroll now to be part of the JSConf flight! <i class='fa fa-arrow-circle-right'></i></a></p>
</div>
</div>
</div>

</div>


<div class="container marketing">
  <hr class="featurette-divider"/>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">See JS Of Today <br/><span class="text-muted">Be Part of JS Tomorrow</span></h2>
      <p class="lead">JSConf has been the launch pad for many of the greatest things that we now take for granted on the web. This year will be no exception thanks to our famously unique <a href="http://2013.jsconf.us/call-for-speakers">call for speakers</a> process designed to spotlight the new faces and ideas in the community. Like last year, we are including a <a href="/schedule.html">Training Track</a> to give you the perfect blend of future and practical all at one amazing event.<br/><br/><a href="/tickets.html">Register now before it sells out.</a></p>
    </div>
    <div class="col-md-5 ">
      <center>
      <img class="featurette-image img-responsive" src="/img/js-sized.png" alt="The JS Logo">
      </center>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/building.jpg" alt="developers building bots">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Pushing The Boundaries<br/><span class="text-muted">On Earth And In Space</span></h2>
      <p class="lead">Over the last 6 years, JSConf has pushed the language outside of its comfort zone, the web browser, and into the forefront of <a href="http://jsconf.eu/2009/video_nodejs_by_ryan_dahl.html">servers</a>, <a href="http://nodecopter.com/">drones</a>, <a href="http://nodebots.io/">robots</a> and <a href="http://www.youtube.com/watch?v=O83-d0t0Ldw">video games</a>. This year we take the quest to both space and sea! Join us for the first ever NodeBoats and NodeRockets event during our very special <a href="/schedule.html#cyoa">"choose-your-own-adventure" middle day</a>, only at JSConf US.
      <br/><br/><a href="/tickets.html">Register now before it sells out.</a></p>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And One Last Thing <br/><span class="text-muted">The Venue</span></h2>
      <p class="lead">Returning back to the <a href="/venue.html"><b>Omni Amelia Island Resort</b></a> with even more exciting events and adventures for you. Positioned north of Jacksonville, FL, this magical space has everything to make your trip incredible. Hop a segway, ride a bike, jump in the ocean, or enjoy the pool. Bring your friends and family, make a good time of the event. <br/><br/><a href="/tickets.html">The greatest venue ever awaits your arrival.</a> </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/pool.jpg" alt="Property view">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette" id='sponsor-fp'>
    <div class="col-md-12">
      <h2 class="featurette-heading">With Huge Thanks To:</h2>
      <div class='clearfix'>
          {% for sponsor in site.data.sponsors %}
            {%if sponsor.visible %}
            <a class='sponsor-block' href='{{sponsor.url}}'><img src='/img/sponsors/{{sponsor.logo}}' alt='{{sponsor.name}}'/></a>

            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
