---
layout: default
title: "Sponsors"
id: sponsors
---

<div class='container'>
<h2>{{site.name}} Sponsors</h2>


<div class='well' style='text-align:center;'>
  <b>Interested in sponsoring?</b> <a href="http://goo.gl/forms/HjhZkWKlKB">Sign up here to receive details on the sponsorship opportunities!</a>
</div>


<p>JSConf is the premier event for all things related to JavaScript (JS) on the web and on the server. It has been the launching place for revolutionary libraries, products, services, and, most importantly, business relationships. It is an amazing, one-of-a-kind event that focuses on quality over of volume in order to ensure that you receive the return on investment you are looking for.</p>

<p>At JSConf 2015, 600 of the best and brightest JS programmers will once again gather at Amelia Island, FL for a two track, three day conference that will showcase the future of JS and we want you there as a sponsor! Our sponsorships are a bit different, there are no booths, no exhibit halls, and we encourage you to send your best technical talent. We focus the sponsorships on creating amazing shared experiences, which have a far broader and longer lasting effects for you and the attendees. Whether your goal is brand exposure, recruiting, product launch, or something else, we have a sponsorship opportunity for you.</p>

<p>Our revolutionary conference format provides both the large event numbers while still creating very small intimate and high value experiences for both attendees and sponsors. Our unique format and continued dedication to quality is why our event sells out in milliseconds every year. In order to do this, we facilitate family style dinners, during which the sponsoring company is encouraged to provide a quick address to all of the attendees. The intermission day, Thursday, will be a break out to allow people to relax and make connections without the worry or penalty of "missing something amazing" during the conference. We are providing these small events as opportunities for amazing networking opportunities that are otherwise unheard of at technology events.</p>



<!--
<article class="sponsors">
{% for sponsor in site.data.sponsors %}
  {%if sponsor.visible %}
  <div class='sponsor' id='{{sponsor.short}}'>
    <div class='name'>
      <a href='{{sponsor.url}}'>
        {% if sponsor.logo %}
          <img src='/img/sponsors/{{sponsor.logo}}' alt='{{sponsor.name}}'/>
        {% else %}
          <h3>{{sponsor.name}}</h3>
        {% endif %}
      </a>
    </div>
    {% if sponsor.event %}
      <div class='component'>Sponsoring {{sponsor.event}}</div>
    {% endif %}
    <div class='description'>
      {{sponsor.description | markdownify}}
    </div>
  </div>
  {% endif %}
{% endfor %}
</article> -->
<!--
<div class='well' style='text-align:center;'>
  <b>Interested in sponsoring?</b> <a href="https://docs.google.com/forms/d/1eyodyWx25GARoBX6XXWG_-Sg-CieeWIkx-nuSSKXQxQ/viewform">Sign up here to receive details on the sponsorship opportunities!</a>
</div>
 -->
