---
layout: default
title: "Sponsors"
id: sponsors
---

<div class='container'>
<h2>{{site.name}} Sponsors</h2>

<!--
<div class='well' style='text-align:center;'>
  <b>Interested in sponsoring?</b> <a href="https://docs.google.com/forms/d/1eyodyWx25GARoBX6XXWG_-Sg-CieeWIkx-nuSSKXQxQ/viewform">Sign up here to receive details on the sponsorship opportunities!</a>
</div>
 -->
<article class="sponsors">
{% for sponsor in site.data.sponsors %}
  {%if sponsor.visible %}
  <div class='sponsor' id='{{sponsor.short}}'>
    <div class='name'>
      <a href='{{sponsor.url}}'>
        {% if sponsor.logo %}
          <img src='/img/sponsors/{{sponsor.logo}}' alt='{{sponsor.name}}'/>
        {% else %}
          <h3>{{sponsor.name}}</h3>
        {% endif %}
      </a>
    </div>
    {% if sponsor.event %}
      <div class='component'>Sponsoring {{sponsor.event}}</div>
    {% endif %}
    <div class='description'>
      {{sponsor.description | markdownify}}
    </div>
  </div>
  {% endif %}
{% endfor %}
</article>
<!--
<div class='well' style='text-align:center;'>
  <b>Interested in sponsoring?</b> <a href="https://docs.google.com/forms/d/1eyodyWx25GARoBX6XXWG_-Sg-CieeWIkx-nuSSKXQxQ/viewform">Sign up here to receive details on the sponsorship opportunities!</a>
</div>
 -->