<!doctype html public "✰">
<html lang="en">
<!--

 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- gh-pages likes to cache for 24h, let's disable that -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="Thu, 01 Jan 1970 13:37:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" href="/img/favicon.png" >

    <meta name="description" content="JSConf US 2014 - Rocketing back to the beach once again!">

    <title>{{site.name}} - {{page.title}}</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" media="screen" href="/css/stars.css" >
    <link rel="stylesheet" media="screen" href="/css/jsconf.css" >

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src='/js/jsconf.js'></script>
  <link href="http://dnhw55p8qm1uu.cloudfront.net/node.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<!---
-->
<body>
<div id='supporter'>
  Brought to you by <a href="http://www.emergingtechnologyadvisors.com" title='Emerging Technology Advisors is a boutique consulting group focused on the emerging technology market. We are leaders in next generation technologies from programming to Internet of Things to Big Data to DevOps.'>Emerging Technology Advisors - ETA</a>
</div>

  <div id='header' >
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <div id='logo'><a href="/"><img src="/img/logo.png" alt="{{site.name}} -- READY, SET, BLAST OFF!" /></a></div>
    <div id='extra'>
      <div class='container'>
        <div class='row'>
          <div class='pull-left'>
          <!-- <a class='btn btn-primary' href="http://tickets.jsconf.us" style="color:white">Register Now</a> -->
          </div>
          <div class='pull-right hidden-xs'>
          5/28/2014 - 5/30/2014<br/>Amelia Island, FL<br/>
          <a href="https://www.facebook.com/JsConf" id='facebook-button'  rel="me"><i class='fa fa-facebook-square'></i></a>
          <a href="http://twitter.com/jsconf" id='twitter-button'  rel="me"><i class='fa fa-twitter-square'></i></a>
          <a href="https://plus.google.com/communities/108690140179099971045" id='gplus-button'  rel="publisher"><i class='fa fa-google-plus-square'></i></a>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-inverse" role="navigation">

  <div class='container'>
  <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

          <ul class="nav center navbar-nav">
            <li id='Home'><a href="/" title='Return Home'><i class='fa fa-home'></i> Home Base</a></li>
            <!-- <li id='Menu'><a href="/tickets.html" title="Launch Passes"><i class='fa fa-ticket'></i> Tickets</a></li> -->
            <li id='scheduleMenu'><a href="/schedule.html"><i class='fa fa-calendar'></i> Schedule</a></li>
            <li id='speakersMenu'><a href="/speakers.html"><i class='fa fa-microphone'></i> Speakers</a></li>
            <li id='trainingMenu'><a href="/trainingtrack.html"><i class='fa fa-puzzle-piece'></i> Training </a></li>
            <li id='soMenu'><a href="/sotrack.html"><i class='fa fa-smile-o'></i> SO Track</a></li>
            <li id='venueMenu'><a href="/venue.html"><i class='fa fa-globe'></i> Venue</a></li>
            <li id='sponsorsMenu'><a href="/sponsors.html"><i class='fa fa-rocket'></i> Sponsors</a></li>
            <li id='sponsorsMenu'><a href="http://jsconf.com/codeofconduct.html" target="_blank"><i class='fa fa-users'></i> Conduct</a></li>
            <li id='aboutMenu'><a href="/about.html"><i class='fa fa-heart'></i> About</a></li>
          </ul>

          </nav>
          </div>
          </div>

    {{content}}

    <div class="container">

        <footer>
            <center><a href="/"><img src="/img/js.png" alt="{{site.name}}" height="82" width="82" /></a><br/><br/>

              <a href="/" >Home</a>  |
              <a href="/schedule.html">Schedule</a>  |
              <a href="/speakers.html">Speakers</a>  |
              <a href="/venue.html">Venue</a>  |
              <a href="/sponsors.html">Sponsors</a>  |
              <a href="/about.html">About</a>  |
              <a title="Tickets" href="http://tickets.jsconf.us">Tickets</a> |
              <a href="/venue.html#villas">Lodging</a>
            <div class="credits">
                <p class="copyright"><br/>Copyright &copy; <script>document.write((new Date()).getFullYear());</script> Iterative Designs</p>
            </div>
            </center>
        </footer>

    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1264213-15', 'jsconf.us');
  ga('send', 'pageview');
  activateMenu('{{page.id}}Menu');
</script>
</body>
</html>
